<h5 class="text-center">Register to embrace a new world</h5>

<form #form="ngForm" [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
  <div class="form-group">
    <input #emailInput formControlName="email" class="form-control" placeholder="Email" autofocus />
    <df-vmessage *ngIf="signupForm.get('email').errors?.required && form.submitted" text="Email is required">
    </df-vmessage>
    <df-vmessage *ngIf="signupForm.get('email').errors?.email && form.submitted" text="Invalid e-mail"> </df-vmessage>
    <df-vmessage text="Email already taken" *ngIf="signupForm.get('email').errors?.emailTaken"> </df-vmessage>
    <small *ngIf="signupForm.get('email').valid" class="text-success">User available</small>
  </div>

  <div class="form-group">
    <input formControlName="name" class="form-control" placeholder="Name" />
    <df-vmessage *ngIf="signupForm.get('name').errors?.required && form.submitted" text="Full name is required!">
    </df-vmessage>
    <df-vmessage *ngIf="signupForm.get('name').errors?.minlength && form.submitted" text="Mininum length is 2">
    </df-vmessage>
    <df-vmessage *ngIf="signupForm.get('name').errors?.maxlength && form.submitted" text="Maximun length is 40">
    </df-vmessage>
  </div>

  <div class="form-group">
    <input formControlName="password" type="password" class="form-control" placeholder="Password" />
    <df-vmessage *ngIf="signupForm.get('password').errors?.required && form.submitted" text="Password is required!">
    </df-vmessage>
    <df-vmessage *ngIf="signupForm.get('password').errors?.minlength && form.submitted" text="Mininum length is 8">
    </df-vmessage>
    <df-vmessage *ngIf="signupForm.get('password').errors?.maxlength && form.submitted" text="Maximun length is 18">
    </df-vmessage>
  </div>

  <button class="btn btn-primary btn-block">Register</button>

  <button [routerLink]="['']" class="btn btn-light btn-block">
    Cancel
  </button>
</form>
